<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <base href="/">
    <title>Vin Camp Application</title>
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
  <div>
   <table class="table-fill">
    <thead>
      <th class="text-center">VIN_ID</th>      
    </thead>
    <tbody class="table-hover">
      <tr ng-repeat="vindet in allVinDetails track by $index">
        <td class="text-center">{{vindet.VIN_ID}}</td>        
      </tr>     
    </tbody>    
  </table>
  <table class="table-fill">
    <thead>
      <th class="text-center">CAMPAIGN_ID</th>      
    </thead>
    <tbody class="table-hover">
      <tr ng-repeat="campdet in allCampDetails track by $index">
        <td class="text-center">{{campdet.CAMPAIGN_ID}}</td>        
      </tr>     
    </tbody>    
  </table>
  </div> 
  </body>


</html>